/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar buttons */
.sidebar button {
    display: block;
    color: black;
    padding: 16px;
    width: 200px;
    text-decoration: none;
    border: none;
    text-align: left;
}

/* Links on mouse-over */
.sidebar button:hover:not(.active) {
    background-color: #555;
    color: white;
}

.sidebar button:focus,
.sidebar .selected:focus {
    outline:none;
    box-shadow: none;    
}

.sidebar .selected {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 0px;
    height: 400px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50px;
    height: 120;
}

/* Custom CSS For the Customer and Vendor Tables */

td, th {
    padding: 0.5rem;
    text-align: left;
  }

.CustomerTable {
    padding:20px;
}

.FrameContent {
    padding:20px;
}

.CustomerBar {
    padding:20px 16px 0px;
}

.CustomerTable div {
    border-bottom: 1px solid #555;
    display: table;
}

.CustomerTable div,
.CustomerTable div table,
.CustomerTable div table thead,
.CustomerTable div table tbody {
    width: 100%;
}

.CustomerTable div table thead th,
.CustomerTable div table tbody td {
    width: 33%;
}

.CustomerTable div table tbody .mytd {
    cursor: pointer;
}

.nav-extra:focus {
    outline: none;
}